# MiniGUI Ver 2.0.3/1.6.9
# This configuration file is for fashion window style.
#
# Copyright (C) 2002~2007 Feynman Software.
# Copyright (C) 1998~2002 Wei Yongming.
#
# Web:   http://www.minigui.com
# Web:   http://www.minigui.org
#
# This configuration file must be installed in /etc,
# /usr/local/etc or your home directory. When you install it in your
# home directory, it should be named ".MiniGUI.cfg".
# 
# The priority of above configruation files is ~/.MiniGUI.cfg, 
# /usr/local/etc/MiniGUI.cfg, and then /etc/MiniGUI.cfg.
#
# If you change the install path of MiniGUI resource, you should 
# modify this file to meet your configuration.
# 
# NOTE:
# The format of this configuration file has changed since last release.
# Please DONT forget to provide the latest MiniGUI.cfg file for your MiniGUI.
#

[system]
# GAL engine and default options
gal_engine=fbcon
#gal_engine=qvfb
defaultmode=1280x720-32bpp

# IAL engine
ial_engine=console
#ial_engine=qvfb

mdev=/dev/input/mice
mtype=IMPS2

[fbcon]
defaultmode=1280x720-32bpp

[qvfb]
defaultmode=1280x720-32bpp
display=0

# The system fonts must be raw bitmap fonts
[systemfont]
font_number=5
font0=rbf-fixed-rrncnn-6-12-ISO8859-1
font1=*-fixed-rrncnn-*-12-GBK
font2=*-fixed-rrncnn-*-16-GBK
font3=*-fixed-rrncnn-*-20-GBK
font4=*-fixed-rrncnn-*-14-GBK
#font5=*-Helvetica-rrncnn-*-16-GB2312

default=0
wchar_def=2
fixed=1
caption=3
menu=3
control=4

[rawbitmapfonts]
font_number=8
name0=rbf-fixed-rrncnn-6-12-ISO8859-1
fontfile0=/usr/local/lib/minigui/res/font/6x12-iso8859-1.bin
name1=rbf-fixed-rrncnn-12-12-GBK
fontfile1=/usr/local/lib/minigui/res/font/song-12-gbk.bin
name2=rbf-fixed-rrncnn-8-16-ISO8859-1
fontfile2=/usr/local/lib/minigui/res/font/8x16-iso8859-1.bin
name3=rbf-fixed-rrncnn-16-16-GBK
fontfile3=/usr/local/lib/minigui/res/font/song-16-gbk.bin
name4=rbf-fixed-rrncnn-10-20-ISO8859-1
fontfile4=/usr/local/lib/minigui/res/font/10x20-iso8859-1.bin
name5=rbf-fixed-rrncnn-20-20-GBK
fontfile5=/usr/local/lib/minigui/res/font/song-20-gbk.bin
name6=rbf-fixed-rrncnn-7-14-ISO8859-1
fontfile6=/usr/local/lib/minigui/res/font/7x14-iso8859-1.bin
name7=rbf-fixed-rrncnn-14-14-GBK
fontfile7=/usr/local/lib/minigui/res/font/song-14-gbk.bin


[varbitmapfonts]
font_number=0
name0=vbf-Courier-rrncnn-8-13-ISO8859-1
fontfile0=/usr/local/lib/minigui/res/font/Courier-rr-8-13.vbf
name1=vbf-Helvetica-rrncnn-11-12-ISO8859-1
fontfile1=/usr/local/lib/minigui/res/font/Helvetica-rr-11-12.vbf
name2=vbf-Times-rrncnn-10-12-ISO8859-1
fontfile2=/usr/local/lib/minigui/res/font/Times-rr-10-12.vbf
name3=vbf-Courier-rrncnn-10-15-ISO8859-1
fontfile3=/usr/local/lib/minigui/res/font/Courier-rr-10-15.vbf
name4=vbf-Helvetica-rrncnn-15-16-ISO8859-1
fontfile4=/usr/local/lib/minigui/res/font/Helvetica-rr-15-16.vbf
name5=vbf-Times-rrncnn-13-15-ISO8859-1
fontfile5=/usr/local/lib/minigui/res/font/Times-rr-13-15.vbf

[qpf]
font_number=0
name0=qpf-unifont-rrncnn-16-16-ISO8859-1,ISO8859-15,GB2312-0,GBK,BIG5
fontfile0=/usr/local/lib/minigui/res/font/unifont_160_50.qpf
name1=qpf-times-rrncnn-5-10-ISO8859-1,ISO8859-15
fontfile1=/usr/local/lib/minigui/res/font/smoothtimes_100_50.qpf
name2=qpf-helvetica-rrncnn-5-10-ISO8859-1,ISO8859-15
fontfile2=/usr/local/lib/minigui/res/font/helvetica_100_50.qpf
name3=qpf-micro-rrncnn-4-4-ISO8859-1,ISO8859-15
fontfile3=/usr/local/lib/minigui/res/font/micro_40_50.qpf

[truetypefonts]
font_number=0
name0=ttf-arial-rrncnn-0-0-ISO8859-1
fontfile0=/usr/local/lib/minigui/res/font/arial.ttf
name1=ttf-times-rrncnn-0-0-ISO8859-1
fontfile1=/usr/local/lib/minigui/res/font/times.ttf
name2=ttf-pinball-rrncnn-0-0-ISO8859-1
fontfile2=/usr/local/lib/minigui/res/font/pinball.ttf

[type1fonts]
font_number=0
name0=type1-Charter-rrncnn-0-0-ISO8859-1
fontfile0=/usr/local/lib/minigui/res/font/bchr.pfb
name1=type1-Charter-rincnn-0-0-ISO8859-1
fontfile1=/usr/local/lib/minigui/res/font/bchri.pfb
name2=type1-Charter-brncnn-0-0-ISO8859-1
fontfile2=/usr/local/lib/minigui/res/font/bchb.pfb
name3=type1-Charter-bincnn-0-0-ISO8859-1
fontfile3=/usr/local/lib/minigui/res/font/bchbi.pfb
name4=type1-Courier-rrncnn-0-0-ISO8859-1
fontfile4=/usr/local/lib/minigui/res/font/dcr10.pfb
name5=type1-Courier-rincnn-0-0-ISO8859-1
fontfile5=/usr/local/lib/minigui/res/font/dcti10.pfb
name6=type1-Courier-brncnn-0-0-ISO8859-1
fontfile6=/usr/local/lib/minigui/res/font/dcbx10.pfb
name7=type1-Courier-bincnn-0-0-ISO8859-1
fontfile7=/usr/local/lib/minigui/res/font/dcbxti10.pfb
name8=type1-eufm10-rrncnn-0-0-ISO8859-1
fontfile8=/usr/local/lib/minigui/res/font/eufm10.pfb

[mouse]
dblclicktime=300

[event]
timeoutusec=300000
repeatusec=50000

[cursorinfo]
# Edit following line to specify cursor files path
cursorpath=/usr/local/lib/minigui/res/cursor/
cursornumber=23
cursor0=d_arrow.cur
cursor1=d_beam.cur
cursor2=d_pencil.cur
cursor3=d_cross.cur
cursor4=d_arrow.cur
cursor5=d_sizenwse.cur
cursor6=d_sizenesw.cur
cursor7=d_sizewe.cur
cursor8=d_sizens.cur
cursor9=d_uparrow.cur
cursor10=d_none.cur
cursor11=d_help.cur
cursor12=d_busy.cur
cursor13=d_wait.cur
cursor14=g_rarrow.cur
cursor15=g_col.cur
cursor16=g_row.cur
cursor17=g_drag.cur
cursor18=g_nodrop.cur
cursor19=h_point.cur
cursor20=h_select.cur
cursor21=ho_split.cur
cursor22=ve_split.cur

[iconinfo]
# Edit following line to specify icon files path
iconpath=/usr/local/lib/minigui/res/icon/
# Note that max number defined in source code is 5.
iconnumber=5
icon0=form.ico
icon1=failed.ico
icon2=mg_help.ico
icon3=warning.ico
icon4=excalmatory.ico

# default icons for TREEVIEW control
fold=fold.ico
unfold=unfold.ico

# default icons for new OpenFileDialogBox
dir=folder.ico
file=textfile.ico

[bitmapinfo]
# Edit following line to specify bitmap files path
bitmappath=/usr/local/lib/minigui/res/bmp/
# Note that max number defined in source code is 7
bitmapnumber=6
#bitmap0=capbtns.bmp
bitmap0=capbtns-fashion.bmp
bitmap1=arrows-phone.bmp
bitmap2=scrollbar-hbg-phone.bmp
bitmap3=scrollbar-hslider-phone.bmp
bitmap4=scrollbar-vbg-phone.bmp
bitmap5=scrollbar-vslider-phone.bmp

# bitmap used by captionbar of main window (only Fashion style)
caption=caption.bmp

# bitmap used by BUTTON control
button=button-phone.bmp

# bitmap used by LISTBOX control
checkmark=checkmark.bmp

# bitmap used by COMBOBOX control
downarrow=downarrow-phone.bmp
updownarrow=updownarrow-phone.bmp
leftrightarrow=leftrightarrow-phone.bmp

# bitmap used by TRACKBAR control
trackbar_hbg=trackbar-hbg-phone.bmp
trackbar_hslider=trackbar-hslider-phone.bmp
trackbar_vbg=trackbar-vbg-phone.bmp
trackbar_vslider=trackbar-vslider-phone.bmp

# bitmap used by SPINBOX control
spinbox_vert=spinbox-vert-phone.bmp
spinbox_horz=spinbox-horz-phone.bmp

# bitmap used by listview control
lvfold=lvfold.bmp
lvunfold=lvunfold.bmp

# bitmaps used by IME window
IMEctrlbtn=shurufa.bmp

logo=MiniGUI256.bmp
# logo=MiniGUI16.bmp

[bgpicture]
# background picture, use your favirate photo
file=none
position=center
# position=upleft
# position=downleft
# position=upright
# position=downright
# position=upcenter
# position=downcenter
# position=vcenterleft
# position=vcenterright
# position=none

[mainwinmetrics]
minwidth=1
minheight=1
border=2
thickframe=2
thinframe=1
captiony=+5
iconx=16
icony=16
menubary=+0
menubaroffx=8
menubaroffy=5
menuitemy=+0
intermenuitemx=12
intermenuitemy=2
menuitemoffx=18
menutopmargin=4
menubottommargin=4
menuleftmargin=4
menurightmargin=4
menuitemminx=64
menuseparatory=4
menuseparatorx=4
sb_height=14
sb_width=16
sb_interx=2
cxvscroll=16
cyvscroll=16
cxhscroll=16
cyhscroll=16
minbarlen=9
defbarlen=18

[windowelementcolors]
bkc_caption_normal=0x00808080
fgc_caption_normal=0x00C0C0C0
bkc_caption_actived=0x00CE2418
fgc_caption_actived=0x00FFFFFF
bkc_caption_disabled=0x00808080
fgc_caption_disabled=0x00C0C0C0

wec_frame_normal=0x002E2B2A
wec_frame_actived=0x00FFFFFF
wec_frame_disabled=0x00000000

bkc_menubar_normal=0x00FFFFFF
fgc_menubar_normal=0x00000000
bkc_menubar_hilite=0x00000000
fgc_menubar_hilite=0x00FFFFFF
fgc_menubar_disabled=0x00808080

bkc_menuitem_normal=0x005A3C28
fgc_menuitem_normal=0x00FFFFFF
bkc_menuitem_hilite=0x00FF9600
fgc_menuitem_hilite=0x00FFFFFF
fgc_menuitem_disabled=0x00808080

bkc_pppmenutitle=0x00C0C0C0
fgc_pppmenutitle=0x00CE2418

fgc_menuitem_frame=0x00C66931

wec_3dbox_normal=0x00BEBEBE
wec_3dbox_reverse=0x00000000
wec_3dbox_light=0x00FFFFFF
wec_3dbox_dark=0x00000000

wec_flat_border=0x002E2B2A

bkc_control_def=0x00E5F5FE
fgc_control_normal=0x00ffffff
fgc_control_disabled=0x00808080

bkc_hilight_normal=0x00FF0000
bkc_hilight_lostfocus=0x00BDA69C
fgc_hilight_normal=0x00FFFFFF
fgc_hilight_disabled=0x00C0C0C0

#bkc_desktop=0x00E5F5FE
bkc_desktop=0x00000000
bkc_dialog=0x00464646
bkc_tip=0x00C8FCF8

[imeinfo]
imetabpath=/usr/local/lib/minigui/res/imetab/
imenumber=1
ime0=pinyin

[appinfo]
apprespath=/usr/local/lib/shared/miniguiapps/

